<section class="pr__services pr__section uk-section uk-section-default" id="pr__about">
  <div class="section-outer">
    <div class="section-heading">
      <div class="uk-container">
        <div class="inner">
          <div class="left">
            <hr class="line pr__hr__secondary">
            <h2 class="title uk-h1">About.</h2>
<!--            <span class="subtitle pr__heading__secondary">An opportunity to rise</span>-->
          </div>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <div class="entry-body">
        <p class="uk-text">NLP Ventures is an early stage investor and hands on operational accelerator for
          portfolio companies in the Sports / Entertainment / Tech sectors. Led by acclaimed serial entrepreneur Mark
          French, NLP Ventures is an active innovation and activation engine comprised of experienced hands-on builders
          with expertise in product development, brand building, strategic partnerships, M&A, disruptive marketing, and
          talent acquisition.
        </p>
        <p class="uk-text">NLP Ventures serves as a founder's most trusted teammate and an investor's strongest
          insurance policy. As an active Board Member, NLP Ventures provides expertise, candid insights with suggested
          direction, along with access to NLP Ventures world class partnerships, including:
        </p>
        <ul class="uk-text">
          <li>Investors</li>
          <li>A-List Athlete and Celebrity Partners</li>
          <li>Media Relations</li>
          <li>Marketing Resources</li>
          <li>Sports, Entertainment &amp; Tech Executives</li>
          <li>Legal Expertise</li>
        </ul>
        <p class="uk-text">NLP Ventures ensures that portfolio companies shorten their time to scale and
          investors maximize their investments. NLP Ventures works closely with founders and Boards to solve problems at
          every level to help businesses grow successfully in all stages.
        </p>
      </div>
    </div>
  </div>
</section><!-- Section: Portfolio End -->
<!--<hr class="pr__vr__section">-->
