<section class="pr__works pr__section section-slider uk-section uk-section-large" id="pr__works">
<!--  <div class="section-outer">-->
<!--    <div class="section-heading">-->
<!--      <div class="uk-container">-->
<!--        <div class="inner">-->
<!--          <div class="left">-->
<!--            <hr class="line pr__hr__secondary">-->
<!--            <h2 class="title uk-h1">Works.</h2>-->
<!--            <span class="subtitle pr__heading__secondary">Things we've made</span>-->
<!--          </div>-->
<!--          <div class="right">-->
<!--            <a class="button uk-button uk-button-default" href="#">View all</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="section-inner">-->
<!--      <div class="uk-container uk-container-no">-->
        <div class="items-listing works-boxes works-slider owl-carousel" data-items="7" data-margin="30" data-loop="true" data-center="true" data-autoplay="true" data-dots="true">
          {{ range $.Site.Params.featuredImages }}
<!--            <div class="item work-box">-->
<!--              <div class="outer">-->
                <div class="image pr__image__cover pr__ratio__landscape" data-src="{{ .url }}" data-uk-img=""></div>
<!--                <div class="inner">-->
<!--                  <h3 class="title uk-h4">Expedia Solutions</h3>-->
<!--                  <p class="category">Marketing / App</p>-->
<!--                  <a href="#" class="link uk-position-cover"></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          {{ end }}
        </div>
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</section><!-- Section: Works End -->
