<section class="pr__works pr__section section-slider uk-section uk-section-large" id="pr__works">
<!--  <div class="items-listing works-boxes works-slider owl-carousel" data-items="7" data-margin="30" data-loop="true" data-center="true" data-autoplay="true" data-dots="true">-->
  <div class="items-listing works-boxes works-slider owl-carousel" data-items="1" data-margin="0" data-loop="true" data-center="true" data-autoplay="true" data-dots="true">
<!--    <div class="owl-stage-outer">-->
<!--      <div class="owl-stage">-->
        {{ range $.Site.Params.featuredImages }}
          <div class="item">
            <img src="{{ .url }}" alt="Fit Team Five"/>
          </div>
        {{ end }}
<!--      </div>-->
<!--    </div>-->
  </div>
</section><!-- Section: Works End -->
